.titulo_bio{
    margin: 20px;
    text-align: center;
    background-color: $colorHeader;
    color:$colorNavPremios;
}
.predebut_h{
    margin: 10px 0px 10px 47px;
    width: 330px;
}
.predebut_s{
    margin: 10px 0px 10px 47px;
    width: 275px;
}
.predebut_m{
    margin: 10px 0px 10px 47px;
    width: 330px;
}
.predebut_w{
    margin: 10px 0px 10px 47px;
    width: 330px;
}
.debut{
    margin: 10px 0px 10px 75px;
    width: 400px;
}
.infobio_img{
    margin-left: 350px;
    width: 260px;
}
.infobio1_img{
    margin-left: 150px;
    width: 355px;
}
.info_bio{
    width: 98%;
    margin: 20px;
    font-size: 20px;
}
.mini_albums{
    margin-top: 20px;
    text-align: center;
    background-color:$colorNav;
    color: $colorTxtMiem;
}
.debut_video{
    margin: 25px;
}

.debut_video2{
    margin:  25px  0px 25px 135px;
}