$colorBG: #caa6da;
$colorHeader: #3f0d5c;
$colorNav: #7d5eb6;
$colortextNav: #e9e4ec;
$colorNavPremios: #dfc6e9;
$colorTextNavPremios:#634895;
$colorBGTxtDisc: #cfb8d9;
$colorBGTour:#d2bbdc;
$colorTxtTour:#6f15a2;
$colorTxtMiem: #e9d4f2;