@media(max-width: 360px){

    header{
        background-color: $colorHeader;
        box-sizing: border-box;
        display: flex;
    
        .logo-principal{
            padding: 90px 0px 80px 10px;
            width: 180px;
        }
        .main_Ind{
            margin: 40px 0px 0px 5px;
            width: 110px;
        }
        .mainBio{
            margin-top: 45px;
            margin-left: 20px;
            width: 140px;
        }
        .mainMiem{
            padding-top: 30px;
            width:150px;
        }
        .mainDisc{
            padding-left: 0px;
            width: 145px;
        }
        .mainTourConc{
            padding-left: 0px;
            padding-top: 15px;
            width: 150px;
        }
        .mainGal{
            padding-top: 45px;
            width: 150px;
        }
    }
    
    .navegacion{
        background-color: $colorNav;
        justify-content: left;
        position: relative;
        top: 10px;
        ul{
            li{
                display:inline;
                a{
                    text-transform: uppercase;
                    color: $colortextNav;
                    font-weight: 540px;
                    text-decoration: none;
                    padding: 10px;
        
                    &:hover{
                        color: $colorHeader;
                    }
                }
            }
            .opt{
                margin-left: 30px;
                font-size: 20px;
            }
            .opt_In{
                margin-left: 40px;
                font-size: 25px;
            }
        }
    }
    
    .contenedor{
        width: 98%;
        font-size: 7px;
        text-align: center;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr;


        .texto_index{
            color:$colortextNav;
            background-color: $colorHeader;
            font-size: 15px;
            padding: 5px;
            .list-group-item{
                padding-left: 1px;
                background-color:$colorNavPremios;
                color: $colorTextNavPremios;
            }
        }

        .imagenes{
            width: 300px;
            .grupo{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
            .hwasa{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
            .wheein{
                width: 255px;
                margin: 50px 50px 0px 25px;
            }
            .solar{
                width: 260px;
                margin: 50px 50px 0px 25px;
            }
            .moonbyul{
                width: 250px;
                margin: 50px 30px 0px 25px;
            }
            .golden{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
                
            .inkigayo{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
                
            .mnet{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
                
            .mbank{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
            .mama{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
                
            .mma{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
                
            .smusica{
                width: 250px;
                margin: 50px 50px 0px 25px;
            }
            }
        }

        .titulo_bio{
            margin: 15px 0px 10px 0px;
            text-align: center;
            background-color: $colorHeader;
            color:$colorNavPremios;
        }
        .predebut_h{
            margin: 10px 0px 10px 50px;
            width: 90px;
        }
        .predebut_s{
            margin: 10px 0px 10px 47px;
            width: 90px;
        }
        .predebut_m{
            margin: 10px 0px 10px 47px;
            width: 90px;
        }
        .predebut_w{
            margin: 10px 0px 10px 47px;
            width: 90px;
        }
        .debut{
            margin: 10px 0px 10px 65px;
            width: 200px;
        }
        .infobio_img{
            margin: 0px 0px 10px 60px;
            width: 240px;
        }
        .infobio1_img{
            margin-left: 50px;
            width: 260px;
        }
        .info_bio{
            width: 82%;
            margin: 20px;
            font-size: 10px;
        }
        .mini_albums{
            margin-top: 20px;
            text-align: center;
            background-color:$colorNav;
            color: $colorTxtMiem;
        }
        .debut_video{
            width: 86%;
            margin: 25px 0px 0px 25px;
        }
        .debut_video2{
            width: 85%;
            margin:  25px  0px 25px 25px;
        }
    
        .cont_miembros{
            width: 100%;
            height: 400px;
            text-align: center;
            margin: 13px 0px 13px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            .miem_hijo{
                background-color: $colorTextNavPremios;
                padding-bottom: 15px;

                color: $colorNavPremios;
                .nombres_miem{
                    background-color:$colorHeader;
                }
                .insta_icon{
                    width: 30px;
                }
                .solar_miem{
                    width: 200px;
                    margin: 20px;
                }
                .hwasa_miem{
                    width: 200px;
                    margin: 20px;
                }
                .wheein_miem{
                    width: 216px;
                    margin: 20px;
                }
                .moon_miem{
                    width: 197px;
                    margin: 20px;
                }
                .posiciones{
                    font-size: 20px;
                    background-color: $colorHeader;
                }
                .info_miem{
                    margin-left: 50px;
                    font-size: 10px;
                    color: $colorTxtMiem;
                    border: 1px solid $colorTextNavPremios;
                }
            }
        }
        .info_disc_h{
            margin-left: 10px;
            font-size: 15px;
            color:$colorHeader;
        }
        .titulo_album{
            font-size: 20px;
            color: $colorHeader;
            font-weight: bold;
            background-color: $colorBGTxtDisc;
        }
        .singleC{
            width: 180px;
            margin: 15px;
        }
        .subtit_disc{
            background-color:$colorBGTxtDisc;
            color: $colorHeader;
            font-size: 20px;
            padding-top: 10px;
        }
        .canciones{
            text-align: center;
            color: $colorHeader;
            font-size: 15px;
        }
        .info_disc{
            font-size: 15px;
            color: $colorHeader;
        }
        .info_disc_s{
            margin-left: 3px;
            font-size: 15px;
            color:$colorHeader;
        }

        .nombre_tour{
            font-size: 12px;
            font-weight: bold;
            background-color:  $colorBGTour;
            color: $colorTxtTour;
        }
        .info_tours{
            border: 1px solid $colorBG;
            font-size: 10px;
        }
        .info_tours_2021{
            border: 1px solid $colorBG; 
            margin-left: 0px;
            font-size: 10px;
        }
        .info_tours_2023{
            border: 1px solid $colorBG; 
            margin-left: 0px;
            font-size: 10px;
        }
        
        .main-Gal{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .img-grupal{
                margin-top: 20px;
                margin-left: 15px;
                width: 260px;
                opacity: 0.5;
                height: 250px;
                &:hover{
                    opacity: 1;
                }
            }
        }
}