.nombre_tour{
    font-size: 20px;
    font-weight: bold;
    background-color:  $colorBGTour;
    color: $colorTxtTour;
}
.info_tours{
    border: 1px solid $colorBG;  
}
.info_tours_2021{
    border: 1px solid $colorBG; 
    margin-left: 170px;
}
.info_tours_2023{
    border: 1px solid $colorBG; 
    margin-left: 100px;
}